---
---

@import "minimal-mistakes";

/* 侧边栏一直清晰 */
.sidebar,
.author__avatar img,
.author__content {
  opacity: 1 !important;
}

/* 整体背景改成浅蓝 */
body {
  background-color: #e6f3ff !important;
}

/* 内容区域保持白色 */
.page,
.initial-content {
  background-color: #ffffff !important;
}
