---
---

@import "minimal-mistakes";
/* 侧边栏一直清晰 */
.sidebar,
.author__avatar img,
.author__content {
  opacity: 1 !important;
}

/* 整个网站背景统一浅蓝 */
html,
body,
.page,
.initial-content,
.masthead,
.sidebar,
.page__footer {
  background-color: #e6f3ff !important;
}

/* 去掉可能的白色块 */
.page__content {
  background-color: transparent !important;
}
