---
---

@import "minimal-mistakes";
/* 侧边栏一直清晰 */
.sidebar,
.author__avatar img,
.author__content {
  opacity: 1 !important;
}

/* 整个网站背景统一浅蓝 */
html,
body,
.page,
.initial-content,
.masthead,
.sidebar,
.page__footer {
  background-color: #e6f3ff !important;
}

/* 去掉可能的白色块 */
.page__content {
  background-color: transparent !important;
}

.masthead,
.masthead__inner-wrap,
.greedy-nav,
.greedy-nav a,
.greedy-nav__toggle,
.site-title,
.site-subtitle {
  background-color: #e6f3ff !important;
}

/* 首页标题区域背景改成浅蓝 */
.page__hero,
.page__hero--overlay,
.page__hero--overlay .wrapper {
  background-color: #e6f3ff !important;
}
