---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minimal-mistakes";

/* 让侧边栏一直清晰 */
.sidebar,
.author__avatar img,
.author__content {
  opacity: 1 !important;
}
---
---
@import "minimal-mistakes";

/* 整体背景 */
body {
  background-color: #e6f3ff !important;
}

/* 内容区域保持白色 */
.page,
.initial-content {
  background-color: white !important;
}
